@import "../../../assets/scss/reset.scss";
@import "../../../resources/fonts/stylesheet.css";

$button-color-one: #2ecf5b;
$button-color-one-hover: #239643;
$button-color-one-disabled: #c92d2d;
$button-color-two: #ee99eb;
$button-color-two-hover: #752473;
$primary-text-color: white;

main {
  display: flex;
  flex-direction: column;
  min-width: 85vw;
  max-width: 85vw;
  margin: 0 auto;
  padding-top: 0;

  button {
    margin-block: 1vmin;
    border: transparent;
    color: black;
    padding: 2vmin;
    font-family: "Kross Neue Grotesk";
    font-weight: 800;
    width: 100%;
    border-radius: 1vmin;
    cursor: pointer;
    transition: all 0.3s;
    font-size: $default-font-size;
  }
}

section.book-container {
  display: flex;
  flex-direction: row;
  gap: 5%;

  div.book-cover {
    display: flex;
    flex-direction: column;
    width: fit-content;

    img {
      aspect-ratio: 11 / 16;
      $width: 27vmin;
      width: clamp($width, $width, $width);
    }
   
    :nth-child(2), :nth-child(3) {
      background-color: $button-color-two;
    }

    :nth-child(2):hover, :nth-child(3):hover{
      background-color:$button-color-two-hover;
    }

    :nth-child(2):disabled {
      background-color: $button-color-one-disabled;
    }
  }

  div.book-details {
    color: $primary-text-color;
    width: auto;
    font-size: $default-font-size;

    span {
      font-family: "Kross Neue Grotesk";
      font-weight: 800;
      line-height: 4.5vmin;
    }
    p {
      font-family: "Kross Neue Grotesk Book";
    }
  }
}

section.comments-container {
  background-color: $secondary-color;
  padding: 2vmin;

  h1{
    color: $primary-text-color;
    font-family: "Kross Neue Grotesk";
  }

  div.comments-wrapper {
    background-color: $primary-color;
    max-height: 60vh;
    overflow: hidden scroll;
  }
  div.comment {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-bottom: 1.5vmin;

    div.comment-content {
      font-family: "Kross Neue Grotesk";
      padding: 1.5vmin;
      color: white;
    }

    p.comment-details {
      font-size: 2vmin;
      margin-bottom: 1vmin;
      font-weight: 600;
      opacity: 0.7;
      span {
        margin-left: 3%;
        font-weight: 400;

      }
    }
    p.comment-text {
      font-size: 2vmin;
      font-weight: 300;
    }
  }

  textarea{
      min-width: 100%;
      max-width: 100%;
      min-height: 10vh;
      padding: 1vmin 2.5vmin;
  }

  button.submit:hover {
    background-color: $button-color-one-hover;
  }
  button.submit {
    background-color: $button-color-one;
    width: 10%;
    background-color: $primary-color;
    color: $primary-text-color


  }
}
